---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
    <div>
        Just adding some content to see how it looks
    </div>
</BaseLayout>
